.logo {
  font-size: var(--size-5);
  color: #fff;
  font-size: large;
  padding-left: 15px;
  padding-right: 15px;
  font-family:sans-serif
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}
