/* .hero {
} */

.hero :hover {
  background-color: rgb(255, 255, 255);
}

.hero #image {
  display: flex;
}

.hero #heading {
  color: var(--color-grey-900);
  font-size: var(--size-8);
}

.hero img {
  margin: 50px;
}
